*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HERO */
.hero {
    height: 60vh;
    background: linear-gradient(to right, #000000, #434343);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.hero h1 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
  
}
 

.hero p {
    margin: 15px 0;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.btn {
    background: red;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

/* SECTIONS */
.about, .videos, .cta {
    padding: 50px 20px;
    text-align: center;
}

/* VIDEOS  */
.video-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

iframe {
    width: 400px;
    height: 220px;
    border: none;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
}
 
/* CTA */
.cta {
    background: black;
    color: white;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 26px;
    }

    .hero p {
        font-size: 14px;
    }

    iframe {
        width: 100%;
        height: 200px;
    }

    .video-contanier {
        flex-direction: column;
        align-items: center;
    }
}

/* EXTRA SMALL DEVICES */
@media (max-width: 480px) {
    .hero h1 {
        font-size: 22px;
    }

    .btn {
        padding: 10px 20px;
    }

    .about, .videos, .cta {
        padding: 30px 15px;
    }
}